// =======================================
// Fonts Style Settings
// =======================================

// 웹폰트 본고딕 설정 (http://webdir.tistory.com/440)
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);

// 시스템폰트 설정
$font-family: "malgun gothic", "Noto Sans Korean", sans-serif, serif;

// 본문 폰트 사이즈
$body-fz: 14px;

// 본문 기본 행간 비율
$line-height: 1.5;

// 폰트 기본 설정
html {
    font-size: $html-fz;
    body {
        font-family: $font-family;
        font-size: rem($body-fz);
        -webkit-font-smoothing: antialiased;
        color: $font-base;
        line-height: $line-height;
    }
    body * {
        box-sizing: border-box;
        word-wrap: break-word;
    }
}