/*! style.css v1.0.0 © inyoung524@naver.com */

@charset "utf-8";

// =======================================
// Framework import
// =======================================
@import "../sass/lib/susy/susy";

// =======================================
// Base Design
// =======================================
@import "../sass/base/color-system";
@import "../sass/base/reset-css";
@import "../sass/base/susy-settings";

// =======================================
// Function
// =======================================
@import "../sass/function/retina";
@import "../sass/function/px-rem";

// =======================================
// Typography
// =======================================
@import "../sass/fonts/font-settings";

// =======================================
// Guide Style
// =======================================
body {
    background: #ededed !important;
    font-size: rem(16px) !important;
    height: 100vh;
}
.guide {
    margin-bottom: 0;
    h1, h2, h3, h4, h5, h6 {
        margin-bottom: rem(20px);
    }
}
.wrap {
    @include container;
    padding: rem(24px);
    article {
        .title {
            font-size: rem(28px);
            font-weight: bold;
            color: #1566c1;
            letter-spacing: -0.03em;
            &:before {
                content: "\f013";
                font-family: FontAwesome;
                font-size: rem(20px);
                color: #1566c1;
                padding-right: rem(10px);
                vertical-align: text-bottom;
            }
        }
    }
    .all-link {
        @include span(full);
        margin-top: $base-line-height;
        .location {
            padding: rem(20px) rem(20px) rem(14px) rem(20px);
            border: 1px solid #ddd;
            margin-bottom: $base-line-height;
            background: #fff;
            .link {
                line-height: rem(24px);
                letter-spacing: -0.03em;
                &.check {
                    &:before {
                        content: "\f00c";
                        color: #e51d68;
                    }
                }
                &:before {
                    content: "\f0c1";
                    font-family: FontAwesome;
                    font-size: rem(10px);
                    color: #ccc;
                    padding-right: rem(5px);
                    vertical-align: top;
                }
                a {
                    color: #333;
                    display: inline-block;
                    > span {
                        display: inline-block;
                        color: #e51d68;
                        margin-left: 4px;
                        margin-bottom: 0;
                    }
                }
                span {
                    font-size: rem(12px);
                    color: #aaa;
                    letter-spacing: 0.05em;
                    display: block;
                    margin-left: 20px;
                    margin-bottom: 6px;
                    &:before {
                        content: "(";
                    }
                    &:after {
                        content: ")";
                    }
                }
            }
        }
    }
}