// =======================================
// Layout Common Style
// =======================================
body {
    min-width: 1200px;
    .wrap {
      width: 1248px;
      padding: 0 24px;
      margin: 0 auto;
    }
}

// =======================================
// Skip Navigation 설정
// =======================================
.skip-link {
    position: absolute;
    top: -33px;
    display: inline-block;
    width: 100%;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background: #555;
    &:hover, &:focus, &:active {
        top: 0;
        font-weight: bold;
        color: #eee;
    }
}

// =======================================
// Header : Top menu
// =======================================
.header {
    @extend %clearfix;
    .top-menu {
        height: 28px;
        line-height: 28px;
        border-bottom: 1px solid #ebebeb;
        .wrap {
            text-align: right;
            a {
                font-size: 12px;
                color: #757575;
                &:after {
                    display: inline-block;
                    content: "/";
                    padding: 0 6px 0 10px;
                }
                &:last-child {
                    &:after {
                        content: "";
                        padding: 0;
                    }
                }
            }
        }
    }
}

 // =======================================
 // Visual Banner : 상단 공통 배너
 // =======================================
.sub-visual {
    width: 100%;
    min-width: 1248px;
    height: 140px;
    text-indent: -9999px;
    background: url($sub-banner) center;
}

// =======================================
// Container : 컨테이너 영역
// =======================================
#container {
    min-height: 730px;
    padding-top: 50px;
    padding-bottom: 30px;
    @extend %clearfix;
    /* Content 영역 */
    .content-area {
        float: left;
        margin-left: 24px;
        width: 950px;
        .headline {
            height: 58px;
            line-height: 58px;
            /* Sub Page : Title 공통 */
            .sub-title {
                font-weight: bold;
                letter-spacing: -0.03em;
                background: url($sub-title) 0 50% no-repeat;
                padding-left: 25px;
                float: left;
            }
            /* Sub Page : Location 공통 */
            .site-location {
                float: right;
                a {
                    font-size: 12px;
                    color: #666;
                    letter-spacing: -0.03em;
                    img {
                        vertical-align: text-top;
                    }
                    &:before {
                        display: inline-block;
                        font-family: 'FontAwesome';
                        font-size: 16px;
                        content: "\f105";
                        padding: 0 4px 0 2px;
                    }
                    &:first-child {
                        &:before {
                            content:"";
                        }
                    }
                    &:last-child {
                        color: #333;
                    }
                }
            }
        }
    }
}

// =======================================
// Sub Page : Title 구분선
// =======================================
hr.sub-title-bar {
    display: block;
    width: 100%;
    height: 6px;
    margin-top: 0;
    margin-bottom: 30px;
    background: url($sub-title-bar) repeat-x;
}

// =======================================
// Footer : 사이트 정보
// =======================================
.footer {
    width: 100%;
    height: 170px;
    font-size: 12px;
    color: #8f8f8f;
    background: #06111a;
    .site-info {
        text-align: center;
        padding-top: 45px;
        padding-bottom: 25px;
        a {
            display: inline-block;
            vertical-align: middle;
            span {
                display: block;
                padding: 0 18px;
                height: 13px;
                line-height: 13px;
                border-right: 1px solid #808080;
            }
            &:last-child {
                span {
                    border-right: 0;
                }
            }
        }
    }
    p {
        text-align: center;
        line-height: 1.8em;
        .copyright {
            font-size: 12px;
        }
    }
}

// =======================================
// 폼 그룹 스타일
// =======================================
.input-type,
.checkbox-type,
.radio-type {
    input {
        // 기본 버튼 속성 무시
        -webkit-appearance: none;
        -ms-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    + label {
        &:empty {
            &:before {
                margin-right: 0;
            }
        }
    }
}

// =======================================
// 검색 영역 스타일
// =======================================
.search-area {
    width: 100%;
    padding: 19px 0;
    font-size: 0;
    text-align: center;
    border: 1px solid #c5d2db;
    margin-bottom: 40px;
    background: #f5f8fa;
    li {
        font-size: 14px;
        display: inline-block;
        margin-right: 6px;
        &:first-child {
            margin-right: 10px;
        }
        &:last-child {
            margin-right: 0;
        }
        .btn-lookup {
            @include btn-size ($dp: inline-block, $w: 66px);
            @include btn-type-1 ($fz: 14px, $color: #fff, $bd: 1px solid #394147, $bg: #394a57);
               
       }
    }
    .search-title {
        font-weight: bold;
        color: #2e3a42;
    }
    .select-box {
        @include select-box ($w: 90px);
    }
    .input-type {
        @include input-type ($w: 360px);
        label {
            span {
                position:absolute;
                height:1px;
                overflow:hidden;
            }
        }
    }
}

// =======================================
// 탭 스타일
// =======================================
.tabs {
    li {
        float: left;
        width: 20%;
    }
    a {
        display: block;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        color: #888;
        padding: 20px 0;
        border-bottom: 2px solid #888;
        background: #f7f7f7;

        &:hover, &.active {
            background: #ddd;
        }
    }
}
.tabgroup {
    div {
        padding: 30px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, .3);
    }
}

// =======================================
// 테이블 스타일
// =======================================
.table-type {
    width: 100%;
    thead {
        background: #f3f3f3;
        tr {
            th {
                border-top: 2px solid #555;
                border-bottom: 1px solid #555;
                &:first-child {
                    border-left-width: 0;
                }
                &:last-child {
                    border-right-width: 0;
                }
            }
        }
    }
    tbody {
        tr {
            th {
                &:first-child {
                    border-left-width: 0;
                }
                &.row-title {
                    border-right: 1px solid #555;
                }
            }
            td {
                &:first-child {
                    border-left-width: 0;
                }
                &:last-child {
                    border-right-width: 0;
                }
            }
        }
    }
    tr {
        th, td {
            text-align: center;
            vertical-align: middle;
            border: 1px solid #ccc;
            border-right-width: 0;
        }
    }
}