// =======================================
// Common Style
// =======================================

// link 설정
a {
    cursor: pointer;
    &:visited {
        color: inherit;
    }
    &:hover, &:focus, &:active {
        color: inherit;
    }
}

// 버튼 마우스 포인터
a, button {
    cursor: pointer;
}

// textarea 설정
textarea {
    color: $font-base;
}

// input 설정 
input {
    &[type="button"], &[type="text"], &[type="image"], &[type="submit"] {
        -webkit-appearance: none;
        -webkit-border-radius: 0;
    }
    &:checked[type="checkbox"] {
        background-color: #fff;
        -webkit-appearance: checkbox;
    }
}

// input 자동완성 스타일 제거(변경)
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    -webkit-text-fill-color: inherit;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
// input placeholder 색상 변경
input {
    &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari*/
        color: $placeholder;
    }
    &::-moz-placeholder {
        /* Firefox 19+*/
        color: $placeholder;
    }
    &:-ms-input-placeholder {
        /* IE 10+*/
        color: $placeholder !important;
    }
    &:-moz-placeholder {
        /* Firefox 18-*/
        color: $placeholder;
    }
}

/* Skip Navigation 설정 */
.skip-link {
    position: absolute;
    top: -33px;
    display: inline-block;
    width: 100%;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background: #555;
    &:hover, &:focus, &:active {
        top: 0;
        font-weight: bold;
        color: #eee;
    }
}

/* Header : Top menu */
.header {
    .top-menu {
        height: 28px;
        line-height: 28px;
        border-bottom: 1px solid #ebebeb;
        .wrap {
            text-align: right;
            a {
                font-size: 12px;
                color: #757575;
                &:after {
                    display: inline-block;
                    content: "/";
                    padding: 0 6px 0 10px;
                }
                &:last-child {
                    &:after {
                        content: "";
                        padding: 0;
                    }
                }
            }
        }
    }
}

// Sub Page : Title 공통
h2.sub-title {
    font-weight: bold;
    letter-spacing: -0.03em;
    background: url("/assets/images/icon/sub-title.svg") 0 50% no-repeat;
    padding-left: 25px;
    margin-bottom: 8px;
    float: left;
}
hr.sub-title-bar {
    display: block;
    width: 100%;
    height: 6px;
    background: url("/assets/images/bg/sub-title-bar.png") repeat-x;
}

// Sub Page : Location 공통
.site-location {
    float: right;
    a {
        letter-spacing: -0.03em;
        color: #666;
        img {
            vertical-align: baseline;
        }
        &:before {
            display: inline-block;
            font-family: 'FontAwesome';
            font-size: 18px;
            content: "\f105";
            padding: 0 6px 0 4px;
        }
        &:first-child {
            &:before {
                content:"";
            }
        }
        &:last-child {
            color: #333;
        }
    }
}

// Footer : 사이트 정보
.footer {
    .site-info {
        text-align: center;
        padding-top: 45px;
        padding-bottom: 25px;
        a {
            display: inline-block;
            vertical-align: middle;
            span {
                display: block;
                padding: 0 18px;
                height: 13px;
                line-height: 13px;
                border-right: 1px solid #808080;
            }
            &:last-child {
                span {
                    border-right: 0;
                }
            }
        }
    }
    p {
        text-align: center;
        line-height: 1.8em;
        .copyright {
            font-size: 12px;
        }
    }
}

// 테이블 스타일 설정
.table-type {
    width: 100%;
    thead {
        background: #f3f3f3;
        tr {
            th {
                border-top: 2px solid #555;
                border-bottom: 1px solid #555;
                &:first-child {
                    border-left-width: 0;
                }
                &:last-child {
                    border-right-width: 0;
                }
            }
        }
    }
    tbody {
        tr {
            th {
                &:first-child {
                    border-left-width: 0;
                }
                &.row-title {
                    border-right: 1px solid #555;
                }
            }
            td {
                &:first-child {
                    border-left-width: 0;
                }
                &:last-child {
                    border-right-width: 0;
                }
            }
        }
    }
    tr {
        th, td {
            text-align: center;
            vertical-align: middle;
            border: 1px solid #ccc;
            border-right-width: 0;
        }
    }
}