// =======================================
// Common Style
// =======================================

// link 설정
a {
    color: $link-base;
    &:visited {
        color: $link-base;
    }
    &:hover, &:focus, &:active {
        color: $link-over;
    }
}

// textarea 설정
textarea {
    color: $font-base;
}

// input 설정 
input {
    &[type="button"], &[type="text"], &[type="image"], &[type="submit"] {
        -webkit-appearance: none;
        -webkit-border-radius: 0;
    }
    &:checked[type="checkbox"] {
        background-color: #fff;
        -webkit-appearance: checkbox;
    }
}

// input 자동완성 스타일 제거(변경)
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    -webkit-text-fill-color: inherit;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
// input placeholder 색상 변경
input {
    &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari*/
        color: $placeholder;
    }
    &::-moz-placeholder {
        /* Firefox 19+*/
        color: $placeholder;
    }
    &:-ms-input-placeholder {
        /* IE 10+*/
        color: $placeholder !important;
    }
    &:-moz-placeholder {
        /* Firefox 18-*/
        color: $placeholder;
    }
}

// Skip Navigation 설정
.skip a {
    position: absolute;
    left: 0;
    top: -9999em;
    z-index: 9999;
    display: block;
    width: 100%;
    background-color: #039;
    color: #eee;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 30px;
    &:hover,
    &:active,
    &:focus {
     top: 0;
    }
}

// 버튼 마우스 포인터
[class^="btn-"] {
    cursor: pointer;
}

// 테이블 스타일 설정
.table-type {
    width: 100%;
    thead {
        background: #f3f3f3;
        tr {
            th {
                border-top: 2px solid #555;
                border-bottom: 1px solid #555;
                &:first-child {
                    border-left-width: 0;
                }
                &:last-child {
                    border-right-width: 0;
                }
            }
        }
    }
    tbody {
        tr {
            th {
                &:first-child {
                    border-left-width: 0;
                }
                &.row-title {
                    border-right: 1px solid #555;
                }
            }
            td {
                &:first-child {
                    border-left-width: 0;
                }
                &:last-child {
                    border-right-width: 0;
                }
            }
        }
    }
    tr {
        th, td {
            text-align: center;
            vertical-align: middle;
            border: 1px solid #ccc;
            border-right-width: 0;
        }
    }
}