/* 
 * --------------------------------
 * 메인 > 로그인 > 외부로그인
 * (html/login.html)
 * --------------------------------
 */
 .login-bg {
    position: relative;
    background: #fafafa;
    .login-area {
        @include wh-center ($position: absolute);
        width: 740px;
        .login-title {
            height: 50px;
            margin-bottom: 40px;
            @extend %text-hidden;
            background: url($login-title) center no-repeat;
        }
    }
}
.login-content {
    position: relative;
    height: 356px;
    border-radius: 7px;
    border: 1px solid #afc0cc;
    box-shadow: 0 0 6px 6px #fdfdfd;
    background: #fff;
}
.login-content {
    .form-group {
        @include w-center ($position: absolute);
        top: 50px;
        width: 406px;
        @extend %clearfix;
        .input-area {
            float: left;
            @include input-type ($w: 220px, $h: 34px, $p: 0 10px, $bdc: #e6e9eb);
            input {
                float: right;
                margin-bottom: 8px;
                clear: both;
            }
            label {
                float: left;
                line-height: 34px;
                font-weight: bold;
                letter-spacing: -0.04em;
                color: #002644;
                margin-right: 10px;
            }
        }
        .btn-login {
            float: right;
            letter-spacing: -0.01em;
            background: #003761;
            border-bottom: 3px solid #002644;
            @include btn-size ($dp: inline-block, $w: 76px, $h: 76px);
            @include btn-type-2 ($color: #fff, $bdb: #002644, $bg: #003761);
        }
    }
}
.login-content {
    .checkbox-type {
        @include w-center ($position: absolute);
        top: 147px;
        width: 220px;
        label {
            letter-spacing: -0.04em;
        }
    }
}
.login-content {
    .btn-link-set {
        @include w-center ($position: absolute);
        top: 190px;
        width: 406px;
        [class*='btn-'] {
            @include btn-size ($dp: inline-block, $w: 200px, $h: 40px);
            letter-spacing: -0.01em;
        }
        .btn-main {
            float: left;
            @include btn-type-2 ($color: #333, $bdb: #6f7d87, $bg: #9fb3c2);
        }
        .btn-join {
            float: right;
            @include btn-type-2 ($color: #fff, $bdb: #28343d, $bg: #394a57);
        }
    }
}

.login-content {
    .information {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        color: #4c4c4c;
        letter-spacing: -0.03em;
        text-align: center;
        height: 75px;
        line-height: 75px;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        border-top: 1px solid #afc0cc;
        background: #e5f4ff;
        span {
            color: #0c314c;
        }
    }
}

/* 
 * --------------------------------
 * 커뮤니티 > FAQ 조회진행중
 * (html/faq-list.html)
 * --------------------------------
 */
.accordion-faq {
    > li {
        border-bottom: 1px solid #d2d4d6;
        &:first-child {
            border-top: 1px solid #d2d4d6;
        }
        [class*="link"] {
            position: relative;
            height: 60px;
            line-height: 60px;
            padding: 0 30px;
            [class^="title-"] {
                float: left;
                font-size: 16px;
                color: #333;
                vertical-align: top;
            }
            .title-type {
                font-weight: bold;
                width: 200px;
                &:before {
                    display: inline-block;
                    content: "Q.";
                    padding-right: 14px;
                }
            }
            .title-name {
                width: -webkit-calc( 100% - 240px );
                width: -moz-calc( 100% - 240px );
                width: calc( 100% - 240px );
                height: inherit;
                @include ellipsis(1);
            }
            &:before {
                position: absolute;
                top: 30px;
                right: 30px;
                width: 17px;
                height: 1px;
                background: #333;
                content: "";
            }
            &:after {
                position: absolute;
                top: 22px;
                right: 38px;
                width: 1px;
                height: 17px;
                background: #333;
                content: "";
                transform: rotate(-90deg);
            }
        }
        &.open {
            border-bottom: 0;
            &:first-child {
                border-top: 2px solid #45494d;
            }
            [class*="link"] {
                background: #faf6f5;
                border-bottom: 1px solid #d2d4d6;
                [class^="title-"] {
                    color: #003761;
                }
                &:after {
                    transform: rotate(0deg);
                    transition: transform 0.25s ease;
                }
            }
            [class*="sub"] {
                border-bottom: 1px solid #45494d;
            }
        }
    }
    [class*="sub"] {
        position: relative;
        padding: 16px 30px 16px 60px;
        &:before {
            position: absolute;
            left: 30px;
            display: inline-block;
            content: "A.";
            font-weight: bold;
        }
        p {
            line-height: 1.6;
        }
    }
}