/* Layout 기본구조 */
body {
    min-width: 1200px;
    .wrap {
      width: 1248px;
      padding: 0 24px;
      margin: 0 auto;
    }
}

/* Skip Navigation 설정 */
.skip-link {
    position: absolute;
    top: -33px;
    display: inline-block;
    width: 100%;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background: #555;
    &:hover, &:focus, &:active {
        top: 0;
        font-weight: bold;
        color: #eee;
    }
}

/* Top menu */
.header {
    .top-menu {
        height: 28px;
        line-height: 28px;
        border-bottom: 1px solid #ebebeb;
        .wrap {
            text-align: right;
            a {
                font-size: 12px;
                color: #757575;
                &:after {
                    display: inline-block;
                    content: "/";
                    padding: 0 6px 0 10px;
                }
                &:last-child {
                    &:after {
                        content: "";
                        padding: 0;
                    }
                }
            }
        }
    }
}

/* 로고 및 즐겨찾는 메뉴 */
.gnb-area {
    @extend %clearfix;
    .logo {
        float: left;
        margin-top: 10px;
    }
    .gnb {
        float: right;
        height: 72px;
        #gnb-menu {
            float: left;
            @extend %clearfix;
            li {
                display: inline-block;
                line-height: 72px;
                a {
                    display: block;
                    font-size: 16px;
                    color: #4c4c4c;
                    padding: 0 26px;
                    @extend %clearfix;
                }
            }
        }
        .btn-gnb-all {
            float: right;
            width: 24px;
            height: 19px;
            margin-top: 26px;
            @extend %text-hidden;
            background: url("/assets/images/common/btn-gnb-all.svg") no-repeat;
        }
    }
}

// GNB 전체 사이트 맵
#gnb-all-menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 564px;
    background: linear-gradient(#475b6b 46px, #fff 46px);
    box-shadow: 0 8px 10px rgba(0,0,0,0.15);
    @extend %box-hidden;
    transform: translateY(-100%);
    transition: transform 0.3s cubic-bezier(1,0.5,0,1);
    &.active {
        top: 100px;
        display: block;
        visibility: visible;
        transform: translateY(0);
    }
    .wrap {
        position: relative;
        @extend %clearfix;
        .panel {
            float: left;
            width: 200px;
            h2 {
                position: relative;
                font-weight: normal;
                background: #475b6b;
                a {
                    font-size: 18px;
                    display: block;
                    height: 46px;
                    line-height: 46px;
                    text-align: center;
                    color: #c5d2db;
                    &:before {
                        position: absolute;
                        top: 10px;
                        display: block;
                        width: 1px;
                        height: 26px;
                        background: #5d7385;
                        content: "";
                    }
                    &:hover, &:focus {
                        color: #fff;
                        background: #758c9e;
                        &:before {
                            position: absolute;
                            top: 0;
                            right: -1px;
                            width: 1px;
                            height: 46px;
                            background: #758c9e;
                            content: "";
                            z-index: 10;
                        }
                    }
                }
            }
            &:nth-of-type(6) {
                h2 {
                    a {
                        &:hover, &:focus {
                            &:before, &:after {
                                display: block;
                                content: "";
                                visibility: hidden;
                            }
                        }
                    }
                    &:first-child {
                        a {
                            &:after {
                                position: absolute;
                                top: 10px;
                                right: 0;
                                display: block;
                                width: 1px;
                                height: 26px;
                                background: #758c9e;
                                content: "";
                            }
                        }
                    }
                }
            }
            > ul {
                height: 518px;
                border-left: 1px solid #dde5eb;
                background: #fff;
                > li {
                    &:first-child {
                        &:before {
                            content: "";
                            display: block;
                            padding-top: 12px;
                        }
                    }
                    a {
                        display: block;
                        font-size: 14px;
                        &:hover, &:focus {
                            background: #cee4f5;
                            text-decoration: underline;
                        }
                    }
                    > a {
                        font-weight: bold;
                        color: #4c4c4c;
                        padding: 4px 20px;
                    }
                    > ul {
                        > li {
                            > a {
                                position: relative;
                                color: #757575;
                                padding: 4px 20px 4px 30px;
                                &:before {
                                    position: absolute;
                                    top: 13px;
                                    left: 20px;
                                    display: block;
                                    width: 3px;
                                    height: 3px;
                                    background: #757575;
                                    content: "";
                                }
                                &:hover, &:focus {
                                    color: #003761;
                                     &:before {
                                        background: #003761;
                                     }
                                }
                            }
                        }
                    }
                }
            }
            &:nth-of-type(6) {
                > ul {
                    border-right: 1px solid #dde5eb;
                    &:nth-of-type(1) {
                        height: 150px;
                    }
                    &:nth-of-type(2) {
                        height: 322px;
                    }
                }
            }
        }
        .btn-gnb-close {
            position: absolute;
            right: 24px;
            bottom: 0;
            width: 54px;
            height: 54px;
            @extend %text-hidden;
            background: #003761 url("/assets/images/common/btn-gnb-close.svg") center no-repeat;
        }
    }
}

/* Visual Banner */
.sub-visual {
    width: 100%;
    min-width: 1248px;
    height: 140px;
    text-indent: -9999px;
    background: url("/assets/images/bg/sub-banner.png") center;
}

/* Container : 컨텐츠 영역 */
#container {
    @extend %clearfix;
}

/* lnb */
#lnb {
    float: left;
    width: 226px;
    height: 524px;
    margin-top: 50px;
    h3 {
        display: block;
        height: 100px;
        line-height: 100px;
        color: #fff;
        text-align: center;
        letter-spacing: -0.03em;
        background: url("/assets/images/bg/lnb_title.png") no-repeat;
    }
    > ul {
        border: 1px solid #cad7e0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    ul li span {
        display: block;
        padding: 14px 10px 14px 36px;
        font-weight: bold;
        color: #003761;
        background: #cee4f5 url("/assets/images/common/lnb_blue_rec.gif") no-repeat 10% 64%;
        border-top: 1px solid #cad7e0;
    }
    > ul > li {
        > ul {
            height: 136px;
            padding: 8px 40px 32px;
            background-color: #f0f8ff;
            border-top: 1px solid #fff;
            display: none;

            > li {
                padding: 0 10px;
            }
        }
        li {
            &:first-child {
                margin-top: 4px;
            }
            &:last-child {
                margin-bottom: 4px;
            }
            li {
                padding-top: 6px;
                padding-bottom: 6px;
                padding-left: 6px;
                width: 140px;

                &:first-child, &:last-child {
                    background: url("/assets/images/common/lnb_rec.gif") no-repeat 0 55%;
                }
                a {
                    padding-left: 6px;
                }
                &:nth-child(2) a {
                    color: #003761;
                    font-weight: bold;
                    text-decoration: underline;
                }
            }
        }
        > ul > li {
            &:nth-child(1) {
                background: url("/assets/images/common/lnb_bg.jpg") no-repeat 0% 10%;
            }
            &:nth-child(2) {
                background: url("/assets/images/common/lnb_dot.gif") no-repeat 0% 55%;
            }
        }
        &:nth-child(2) {
            border-top: 1px solid #cad7e0;
            border-bottom: 1px solid #cad7e0;
            padding: 14px 10px 14px 24px;
            color: #333;
            font-weight: bold;
        }
        &:nth-child(3) {
            padding: 14px 10px 14px 24px;
            color: #333;
            font-weight: bold;
            border: 0;
        }
        &:nth-child(5) {
            padding: 14px 10px 14px 24px;
            color: #333;
            font-weight: bold;
        }
    }
    li a {
        font-size: 16px;
    }
    span {
        display: block;
    }
}

/* content process */
.content {
    float: left;
    margin-left: 24px;
    margin-top: 66px;
    margin-bottom: 30px;
    width: 920px;
    .sub-title-bar {
        display: block;
        width: 100%;
        height: 6px;
        background: url("/assets/images/bg/sub-title-bar.png") repeat-x;
    }
    .site-location {
        float: right;
        a {
            letter-spacing: -0.03em;
            color: #666;
            img {
                vertical-align: baseline;
            }
            &:before {
                display: inline-block;
                font-family: 'FontAwesome';
                font-size: 18px;
                content: "\f105";
                padding: 0 6px 0 4px;
            }
            &:first-child {
                &:before {
                    content:"";
                }
            }
            &:last-child {
                color: #333;
            }
        }
    }
}

/* Footer : 사이트 정보 */
.footer {
    width: 100%;
    height: 170px;
    font-size: 12px;
    color: #8f8f8f;
    background: #06111a;
    .site-info {
        text-align: center;
        padding-top: 45px;
        padding-bottom: 25px;
        a {
            display: inline-block;
            vertical-align: middle;
            span {
                display: block;
                padding: 0 18px;
                height: 13px;
                line-height: 13px;
                border-right: 1px solid #808080;
            }
            &:last-child {
                span {
                    border-right: 0;
                }
            }
        }
    }
    p {
        text-align: center;
        line-height: 1.8em;
        .copyright {
            font-size: 12px;
        }
    }
}