/* =======================================*/
/* 메인 > 로그인 > 외부로그인
/* (html/login.html)
/* =======================================*/
.login-bg {
    position: relative;
    background: #fafafa;
    .login-area {
        @include wh-center ($position: absolute);
        width: 740px;
        h2 {
            @extend %content-title;
            font-size: 50px;
            margin-bottom: 40px;
        }
    }
}
.login-content {
    @include content-box(356px);
    .form-group {
        @include w-center ($position: absolute);
        top: 50px;
        width: 406px;
        @extend %clearfix;
        .input-area {
            float: left;
            width: 316px;
            @include input-type ($w: 220px, $h: 34px, $p: 0 10px, $bdc: #e6e9eb);
            input {
                float: right;
                margin-bottom: 8px;
            }
            label {
                float: left;
                font-weight: bold;
                letter-spacing: -0.04em;
                color: #002644;
            }
        }
        .btn-login {
            float: right;
            letter-spacing: -0.01em;
            background: #003761;
            border-bottom: 3px solid #002644;
            @include btn-size ($dp: inline-block, $w: 76px, $h: 76px);
            @include btn-type-2 ($color: #fff, $bdb: #002644, $bg: #003761);
        }
    }
}
.login-content {
    .checkbox-type {
        @include w-center ($position: absolute);
        top: 147px;
        width: 220px;
        label {
            letter-spacing: -0.04em;
        }
    }
}
.login-content {
    .btn-link-set {
        text-align: center;
        margin-top: 190px;
        .btn-main {
            @extend %btn-type-2-02;
        }
        .btn-join {
            @extend %btn-type-2-03;
        }
    }
}
.login-content {
    .information {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        color: #4c4c4c;
        letter-spacing: -0.03em;
        text-align: center;
        height: 75px;
        line-height: 75px;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        border-top: 1px solid #afc0cc;
        background: #e5f4ff;
        span {
            color: #0c314c;
        }
    }
}

/* =======================================*/
/* 커뮤니티 > 뉴스레터
/* (html/news-letters.html)
/* =======================================*/
.news-letters {
    padding: 13px 67px 57px 67px;
    margin: 0 10px;
    background: #f5f8fa;
    .gallery {
        @include gallery(3, 44px);
        li {
            position: relative;
            height: 330px;
            margin-top: 44px;
            background: url($news-letters-bg) no-repeat;
            .vol-area {
                position: absolute;
                top: 3px;
                left: 3px;
                right: 3px;
                z-index: 10;
                height: 60px;
                color: #fff;
                background: url($news-letters-title-bg) no-repeat;
                .vol {
                    float: left;
                    min-width: 36px;
                    height: 36px;
                    margin-top: 12px;
                    background: #62b5f5;
                    span {
                        display: block;
                        text-align: center;
                        font-size: 16px;
                        line-height: 1.15;
                        &:first-child {
                            font-size: 8px;
                            padding-top: 4px;
                        }
                    }
                }
                .vol-title {
                    float: left;
                    margin-top: 12px;
                    span {
                        display: block;
                        font-size: 24px;
                        line-height: 1.15;
                        padding-left: 8px;
                        &:first-child {
                            font-size: 11px;
                        }
                        &:last-child {
                            font-weight: bold;
                        }
                    }
                }
            }
            a {
                figure {
                    div {
                        position: absolute;
                        top: 3px;
                        left:  3px;
                        right:  3px;
                        height: 270px;
                        border-top-left-radius: 3px;
                        border-top-right-radius: 3px;
                        z-index: 9;
                        img {
                            overflow: hidden;
                        }
                    }
                    figcaption {
                        position: absolute;
                        bottom: 7px;
                        left:  3px;
                        right:  3px;
                        height: 50px;
                        line-height: 50px;
                        padding: 0 20px;
                    }
                }
            }
        }
    }
}

/* =======================================*/
/* 커뮤니티 > FAQ 조회
/* (html/faq-list.html)
/* =======================================*/
.accordion-faq {
    > li {
        border-bottom: 1px solid #d2d4d6;
        &:first-child {
            border-top: 1px solid #d2d4d6;
        }
        [class*="link"] {
            position: relative;
            height: 60px;
            line-height: 60px;
            padding: 0 30px;
            [class^="title-"] {
                float: left;
                font-size: 16px;
                color: #333;
                vertical-align: top;
            }
            .title-type {
                font-weight: bold;
                width: 200px;
                &:before {
                    display: inline-block;
                    content: "Q.";
                    padding-right: 14px;
                }
            }
            .title-name {
                width: -webkit-calc( 100% - 240px );
                width: -moz-calc( 100% - 240px );
                width: calc( 100% - 240px );
                height: inherit;
                @include ellipsis(1);
            }
            &:before {
                position: absolute;
                top: 30px;
                right: 30px;
                width: 17px;
                height: 1px;
                background: #333;
                content: "";
            }
            &:after {
                position: absolute;
                top: 22px;
                right: 38px;
                width: 1px;
                height: 17px;
                background: #333;
                content: "";
                transform: rotate(-90deg);
            }
        }
        &.open {
            border-bottom: 0;
            &:first-child {
                border-top: 2px solid #45494d;
            }
            [class*="link"] {
                background: #faf6f5;
                border-bottom: 1px solid #d2d4d6;
                [class^="title-"] {
                    color: #003761;
                }
                &:after {
                    transform: rotate(0deg);
                    transition: transform 0.25s ease;
                }
            }
            [class*="sub"] {
                border-bottom: 1px solid #45494d;
            }
        }
    }
    [class*="sub"] {
        position: relative;
        padding: 16px 30px 16px 60px;
        &:before {
            position: absolute;
            left: 30px;
            display: inline-block;
            content: "A.";
            font-weight: bold;
        }
        p {
            line-height: 1.6;
        }
    }
}

/* =======================================*/
/* 커뮤니티 > Q&A조회
/* (html/qna-list.html)
/* =======================================*/
.qna-content {
    colgroup {
        col {
            &:first-child {
                width: 54px;
            }
            &:nth-child(2) {
                width: 140px;
            }
            &:nth-child(3) {
                width: 341px;
            }
            &:nth-child(4) {
                width: 110px;
            }
            &:nth-child(5) {
                width: 140px;
            }
            &:last-child {
                width: 140px;
            }
        }
    }
    tbody {
        td {
            &:nth-child(3) {
                text-align: left;
            }
        }
    }
    .table-btn-set {
        .btn-popup-qna-write {
            @extend %btn-type-3-02;
        }
    }
}

/* =======================================*/
/* 커뮤니티 > Q&A 상세 조회 > 팝업
/* (html/qna-list.html)
/* =======================================*/
.popup-qna-content {
    table {
        colgroup {
            col {
                &:nth-child(1), &:nth-child(3) {
                    width: 140px;
                }
            }
        }
        tbody {
            td {
                padding-top: 6px;
                padding-bottom: 6px;
                .input-type {
                    @include input-type ($w: 100%);
                }
                .secret-article {
                    margin-top: 7px;
                    margin-bottom: 3px;
                }
                &.security-text-area {
                    * {
                        float: left;
                    }
                    .input-type {
                        @include input-type ($w: 140px);
                    }
                    .security-text {
                        width: 154px;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        margin: 0 6px;
                        background: #d5d5d5;
                    }
                    strong {
                        color: #333;
                        line-height: 30px;
                    }
                }
                .add-file-sherch {
                    @extend %clearfix;
                    margin-bottom: 10px;
                    span {
                        line-height: 30px;
                    }
                    .file-sherch {
                        float: right;
                        .input-type {
                            @include input-type ($w: 470px);
                        }
                        .btn-file-sherch {
                            @extend %btn-type-1-02;
                            width: 100px;
                        }
                    }
                }
                .add-file-area {
                    padding-left: 73px;
                    .file {
                        a[class^="icon-"] {
                            display: inline-block;
                            margin-right: 20px;
                        }
                        .btn-file-remove {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}
.popup-qna-content {
    dl {
        margin-top: 10px;
        dd {
            p {
                span {
                    &.admin {
                        font-weight: bold;
                        margin-right: 4px;
                    }
                    &.date {
                        color: #757575;
                    }
                }
            }
        }
    }
}

/* =======================================*/
/* 자료마당 > 공지사항
/* (html/notices.html)
/* =======================================*/
.notices-content {
    colgroup {
        col {
            &:first-child {
                width: 54px;
            }
            &:nth-child(2) {
                width: 502px;
            }
            &:nth-child(3), &:nth-child(4) {
                width: 140px;
            }
            &:last-child {
                width: 70px;
            }
        }
    }
    td {
        &:nth-child(2) {
            text-align: left;
        }
    }
    .search-area {
        li {
            &:nth-of-type(2) {
                @include select-box ($w: 130px);
            }
            &:nth-of-type(3) {
                @include select-box ($w: 90px);
            }
        }
    }
}

/* =======================================*/
/* 자료마당 > 공지사항 > 공지사항 상세 팝업완료
/* (html/notices.html)
/* =======================================*/
.popup-notices-content {
    @extend .popup-qna-content;
    .table-dt-dd {
        margin-top: -1px;
        dd {
            min-height: 210px;
        }
    }
}

/* =======================================*/
/* 자료마당 > 자료실
/* (html/resources.html)
/* =======================================*/
.resources-content {
    colgroup {
        col {
            &:first-child {
                width: 54px;
            }
            &:nth-child(2) {
                width: 140px;
            }
            &:nth-child(3) {
                width: 341px;
            }
            &:nth-child(4) {
                width: 110px;
            }
            &:nth-child(5) {
                width: 140px;
            }
            &:last-child {
                width: 140px;
            }
        }
    }
    td {
        &:nth-child(3) {
            text-align: left;
        }
    }
}
.resources-content {
    .search-area {
        li {
            &:nth-of-type(2) {
                @include select-box ($w: 130px);
            }
            &:nth-of-type(3) {
                @include select-box ($w: 90px);
            }
        }
    }
}

/* =======================================*/
/* 자료마당 > 자료마당 > 팝업
/* (html/resources.html)
/* =======================================*/
.popup-resources-content {
    @extend .popup-notices-content;
}

/* =======================================*/
/* 자료마당 > 관련사이트
/* (html/relation-site.html)
/* =======================================*/
.relation-site {
    .panel-group {
        [role="tabpanel"] {
            .gallery {
                li {
                    margin-top: 20px;
                    h6 {
                        position: relative;
                        font-size: 14px;
                        font-weight: bold;
                        padding-left: 10px;
                        margin-bottom: 4px;
                        color: #333;
                        &:before {
                            position: absolute;
                            top: 8px;
                            left: 0;
                            display: block;
                            width: 3px;
                            height: 3px;
                            background: #333;
                            content: "";
                        }
                    }
                    a {
                        display: block;
                        figure {
                            text-align: center;
                            border: 1px solid #e6e6e6;
                            div {
                                height: 100px;
                                line-height: 100px;
                                img {
                                    vertical-align: middle;
                                }
                            }
                            figcaption {
                                margin-bottom: -1px;
                                background: #e6e6e6;
                                line-height: 34px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* ===============================================*/
/* 회원서비스 > 법인.단체 > 사업자신청 완료
/* (html/completion-of-business-application.html)
/* ===============================================*/
.completion-of-business-application {
    .list-check {
        width: 560px;
        height: 66px;
        margin: 60px auto;
        img {
            width: 66px;
            margin-right: 20px;
            vertical-align: middle;
        }
        .notice {
            display: inline-block;
            text-align: center;
            font-size: 16px;
            vertical-align: middle;
            letter-spacing: -0.14em;
            span {
                color: #003761;
                font-weight: bold;
            }
        }
    }
}
.completion-of-business-application {
    .list-form {
        @include content-box(317px);
        h3 {
            @extend %content-title;
            margin-top: 50px;
        }
        .form-group {
            @include w-center ($position: absolute, $w-percent: 50%);
            top: 120px;
            width: 406px;
            .input-area {
                @include input-type ($w: 316px, $h: 34px, $p: 0 10px, $bdc: #e6e9eb);
                input {
                    float: right;
                    margin-bottom: 8px;
                }
                label {
                    float: left;
                    font-weight: bold;
                    letter-spacing: -0.04em;
                    color: #002644;
                }
            }
        }
        .btn-link-set {
            text-align: center;
            margin-top: 130px;
            .btn-edit-information {
                @extend %btn-type-2-02;
            }
            .btn-view-status {
                @extend %btn-type-2-03;
            }
        }
    }
}

/* =======================================*/
/* 기금사업신청 > 사업신청 조회
/* (html/business-application-list.html)
/* =======================================*/
.business-application {
    .panel-group {
        [aria-labelledby="tab1"] {
            colgroup {
                col {
                    &:nth-child(1), &:nth-child(3) {
                        width: 200px;
                    }
                }
            }
            table {
                td {
                    .select-box {
                        width: 420px;
                    }
                    .checkbox-type {
                        @extend %clearfix;
                        li {
                            float: left;
                            width: percent(5);
                            &:nth-child(5n) {
                                margin-bottom: 10px;
                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                    .input-type {
                        display: block;
                        &.w100p {
                            width: 100%;
                            label {
                                span {
                                    display: block;
                                    height: 0;
                                    text-indent: -9999px;
                                    visibility: hidden;
                                }
                            }
                            input {
                                width: 100%;
                            }
                        }
                    }
                    &.input-price {
                        .input-type {
                            margin-bottom: 6px;
                            label {
                                span {
                                    display: inline-block;
                                    &:first-child {
                                        width: 100px;
                                        letter-spacing: -0.04em;
                                    }
                                }
                                input {
                                    padding-right: 0;
                                }
                            }
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
        [aria-labelledby="tab2"] {
            colgroup {
                col {
                    &:nth-child(1), &:nth-child(3) {
                        width: 200px;
                    }
                }
            }

        }
        [aria-labelledby="tab3"] {
            colgroup {
                col {
                    &:nth-child(1), &:nth-child(3) {
                        width: 200px;
                    }
                }
            }

        }
    }
 }

/* =======================================*/
/* 기금사업신청 > 사업신청 상세팝업
/* (html/business-application-list.html)
/* =======================================*/
.popup-business-application {
    table {
        colgroup {
            col:first-child {
                width: 140px;
            }
        }
        td {
            .checkbox-type {
                @extend %clearfix;
                li {
                    float: left;
                    width: percent(4);
                    &:nth-child(4n) {
                        margin-bottom: 7px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
            [class^="btn-"] {
                margin-left: 6px;
            }
            &.download {
                p {
                    padding-bottom: 6px;
                    span {
                        display: inline-block;
                        min-width: 190px;
                        letter-spacing: -0.04em;
                    }
                    &:last-child {
                        padding-bottom: 0;
                    }
                    .btn-download {
                        @extend %btn-type-1-02;
                    }
                }
            }
            .summary {
                ol {
                    padding-left: 13px;
                }
            }
        }
    }
    .popup-btn-set {
        .popup-close {
            width: 104px;
        }
    }
 }