/* =======================================*/
/* 테이블 스타일*/
/* =======================================*/
[class^="table-type-"] {
    .download-type-01 {
        [class^="icon-"] {
            display: block;
            margin-bottom: 5px;
            color: #003761;
            font-weight: bold;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .download-type-02 {
        position: relative;
        [class^="icon-"] {
            display: inline-block;
            width: 14px;
            height: 16px;
        }
        .download-file {
            visibility: hidden;
            @include w-center ($position: absolute);
            top: 43px;
            width: 250px;
            text-align: left;
            margin-left: -5px;
            letter-spacing: -0.03em;
            padding: 16px 20px;
            border: 1px solid #8aa3b7;
            background: #fff;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
            z-index: 9999;
            &:after {
                @include w-center ($position: absolute);
                top: -5px;
                width: 8px;
                height: 8px;
                border: 1px solid #8aa3b7;
                border-bottom: 0;
                border-right: 0;
                background: #fff;
                transform: rotate(45deg);
                content: "";
            }
            strong {
                display: block;
                margin-bottom: 6px;
            }
            a {
                display: block;
                position: relative;
                padding-left: 10px;
                padding-bottom: 6px;
                &:last-child {
                    padding-bottom: 0;
                }
                &:after {
                    display: inline-block;
                    position: absolute;
                    top: -3px;
                    left: 0;
                    content: "-";
                }
            }
        }
        &:focus {
            .download-file {
                visibility: inherit;
                &:before {
                    position: absolute;
                    top: -44px;
                    left: 0;
                    right: 0;
                    display: block;
                    height: 43px;
                    content: "";
                }
            }
        }
    }
}

.table-type-01 {
    width: 100%;
    thead {
        border-top: 2px solid #45494d;
        th {
            border-right: 1px solid #d1d1d1;
            border-bottom: 1px solid #c2c2c2;
        }
    }
    tbody {
        th, td {
            border-right: 1px solid #d1d1d1;
            border-bottom: 1px solid #d1d1d1;
        }
    }
    tr {
        th {
            background: #f0f3f5;
            color: #2e3a42;
        }
        th, td {
            height: 38px;
            text-align: center;
            vertical-align: middle;
            padding: 0 20px;
            a {
                @include ellipsis(1);
            }
            &:first-child {
                padding-left: 6px;
                padding-right: 6px;
            }
            &:last-child {
                border-right: 0;
            }
        }
    }
}
.table-type-02 {
    width: 100%;
    tr {
        th, td {
            height: 42px;
            text-align: left;
            vertical-align: middle;
            padding: 6px 20px;
            border: 1px solid #d1d1d1;
            .view-link {
                @include ellipsis(1);
            }
        }
        th {
            background: #f0f3f5;
            color: #2e3a42;
            border-right: 0;
        }
        .lines {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}
.table-li {
    display: table;
    width: 100%;
    border: 1px solid #d1d1d1;
    li {
        display: table-cell;
        vertical-align: middle;
        height: 42px;
        padding: 0 20px;
        border-right: 1px solid #d1d1d1;
        &.title {
            font-weight: bold;
            color: #2e3a42;
            background: #f0f3f5;
        }
        &.lines {
            padding-top: 6px;
            padding-bottom: 6px;
        }
        &:last-child {
            border-right: 0;
        }
    }
}
.table-dt-dd {
    width: 100%;
    border: 1px solid #d1d1d1;
    dt, dd {
        padding: 0 20px;
        border-bottom: 1px solid #d1d1d1;
        &:last-child {
            border-bottom: 0;
        }
    }
    dt {
        height: 42px;
        line-height: 42px;
        font-weight: bold;
        text-align: center;
        color: #2e3a42;
        background: #f0f3f5;
    }
    .lines {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
.table-btn-set {
    margin-top: 30px;
    text-align: center;
    [class^="btn-"] {
        margin-right: 3px;
        &:last-child {
            margin-right: 0;
        }
    }
}