@mixin wh-center ($position: relative, $h-percent: 50%, $w-percent: 50%) {
	position: $position;
	top: $h-percent;
	left: $w-percent;
	transform: translate(-$h-percent, -$w-percent);
}
@mixin w-center ($position: relative, $w-percent: 50%) {
	position: $position;
	left: $w-percent;
	transform: translateX(-$w-percent);
}
@mixin h-center ($position: relative, $h-percent: 50%) {
	position: $position;
	top: $h-percent;
	transform: translateY(-$h-percent);
}
@mixin translate($x, $y) {
    -webkit-transform: translate($x, $y);
    -ms-transform: translate($x, $y);
    transform: translate($x, $y);
}
@mixin transition($transition) {
    -webkit-transition: $transition;
    transition: $transition;
}
@mixin transition-transform($transition) {
    -webkit-transition: -webkit-transform unquote($transition);
    -moz-transition: -moz-transform unquote($transition);
    -o-transition: -o-transform unquote($transition);
    transition: transform unquote($transition);
}