@mixin fa ($content: " ", $fz: null, $color: null) {
    $retina-fz: retina($fz);
    font-family: 'FontAwesome';
    content: $content;
    font-size: $retina-fz;
    font-size: rem($retina-fz);
    color: $color;
}