@mixin gallery($num-of-columns, $num-gutter) {
    width: 100%;
    @extend %clearfix;
    @for $i from 1 through $num-of-columns {
        &.col#{$i} {
            li {
                float: left;
                width: percent($i);
                padding: 0 $num-gutter;
                &:nth-of-type(#{ $i + 1n }) {
                    clear: both;
                }
            }
        }
    }
}