@mixin gallery($per, $mb) {
    width: 100%;
    @extend %clearfix;
    li {
        float: left;
        width: percent($per);
        margin-top: $mb;
        &:nth-of-type(#{ $per + 1n }) {
            clear: both;
        }
    }
}