@mixin input-type ($w: 160px, $h: 30px, $p: 0 10px, $bdc: #dbdbdb, $bg: #fff, $phc: #fff) {
    input {
        width: $w;
        height: $h;
        line-height: $h;
        padding: $p;
        border: 1px solid $bdc;
        background: $bg;
        &::-webkit-input-placeholder {
            color: $phc;
        }
        &::-moz-placeholder {
            color: $phc;
        }
        &:-ms-input-placeholder {
            color: $phc !important;
        }
        &:-moz-placeholder {
            color: $phc;
        }
    }
}
