// 탭 제작 (탭 갯수)
@mixin tabs($num-of-tabs) {
    width: 100%;
    @extend %clearfix;
    @for $i from 1 through $num-of-tabs {
        &.t#{$i} {
            [role="tab"] {
                float: left;
                width: percent($i);
            }
        }
    }
}
