// 말줄임 (라인 수)
@mixin ellipsis($line-num) {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $line-num;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}
// 접근성 글자 감추기
@mixin text-aria($pos: top, $num: -9999px) {
    position: absolute;
    #{$pos}: $num;
    visibility: hidden;
}