// =======================================
// Background Images  Guide
// =======================================

// 버튼
$btn-gnb-all: "../../assets/images/common/btn-gnb-all.svg"

// 아이콘
$icon-hwp: "../../assets/images/icon/icon-hwp.png"
$icon-doc: "../../assets/images/icon/icon-doc.png"
$icon-pdf: "../../assets/images/icon/icon-pdf.png"
$icon-jpg: "../../assets/images/icon/icon-jpg.png"
$icon-png: "../../assets/images/icon/icon-jpg.png"
$icon-xls: "../../assets/images/icon/icon-xls.png"
$icon-ppt: "../../assets/images/icon/icon-ppt.png"
$icon-confirm: "../../assets/images/icon/icon-confirm.png"
$icon-progress-title: "../../assets/images/icon/icon-progress-title.png"
$icon-help: "../../assets/images/icon/icon-help.png"
$icon-upload: "../../assets/images/icon/icon-upload.svg"
$icon-calender: "../../assets/images/icon/icon-calender.png"

// 배경
$sub-banner: "../../assets/images/bg/sub-banner.png"
$sub-title-bar: "../../assets/images/bg/sub-title-bar.png"
$lnb_title: "../../assets/images/bg/lnb_title.png"
$popup-title: "../../assets/images/bg/popup-title.png"
$bar-step0: "../../assets/images/bg/bar-step0.png"
$bar-step1: "../../assets/images/bg/bar-step1.png"
$bar-step2: "../../assets/images/bg/bar-step2.png"
$bar-step3: "../../assets/images/bg/bar-step3.png"
$bar-step4: "../../assets/images/bg/bar-step4.png"
$bar-step5: "../../assets/images/bg/bar-step5.png"
$btn-step-open: "../../assets/images/bg/btn-step-open.png"
$btn-step-close: "../../assets/images/bg/btn-step-close.png"

// 서브 페이지
$news-letters-bg: "../../assets/images/sub/news-letters-bg.png"
$news-letters-title-bg: "../../assets/images/sub/news-letters-title-bg.png"