// =======================================
// Background Images  Guide
// =======================================

// 버튼
$btn-gnb-all: "../../assets/images/common/btn-gnb-all.svg"
$btn-gnb-close: "../../assets/images/common/btn-gnb-close.svg"

// 배경
$sub-banner: "../../assets/images/bg/sub-banner.png"
$sub-title-bar: "../../assets/images/bg/sub-title-bar.png"

// 기타
$sub-title: "../../assets/images/icon/sub-title.svg"
$lnb_title: "../../assets/images/bg/lnb_title.png"
$popup-title: "../../assets/images/bg/popup-title.png"
$login-title: "../../assets/images/sub/member-login.png"