// =======================================
// Color System  Guide
// =======================================

// Font Base Color
$font-base: #4c4c4c

// Background Common Color
$bg-body: #fff

// Input Color
$placeholder: #ccc

// Button Color
$skyblue: #bcd1e0

$rad: #bd1313


.red
    color: #bd1313