// =======================================
// Reset CSS type
// =======================================
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, figure, legend, input, textarea, button, p, blockquote, th, td, form, fieldset, blockquote, iframe {
    margin: 0;
    padding: 0;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}
article, aside, canvas, details, embed, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
}
command, datalist, keygen, mark, meter, progress, rp, rt, ruby, time, wbr {
    display: inline;
}
img {
    vertical-align: top;
    border: 0;
}
fieldset {
    border: 0;
}
ul, ol, li {
    list-style: none;
}
hr {
    display: none;
    border: 0;
}
pre {
    white-space: pre-wrap;
}
legend, caption {
    display: none;
    clear: both;
}
a {
    &:link {
        text-decoration: none;
    }
    &:hover, &:active {
        text-decoration: none;
    }
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
    word-break: keep-all;
}
em, i, address, cite {
    font-style: normal;
    font-weight: normal;
}
input, textarea, select, button, table {
    font-size: inherit;
    font-family: inherit;
    *font-size: inherit;
    border: 0;
    background-color: transparent;
}
button, select {
    cursor: pointer;
}
textarea, input, select {
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -ms-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 0;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium;
}
textarea {
    resize: none;
}
label {
    cursor: pointer;
}
table {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
}
th, td {
    border-collapse: collapse;
}
input {
    &[type="reset"], &[type="button"], &[type="submit"] {
        line-height: normal !important;
    }
}
progress[value] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    display: inline-block;
    border: none;
    background-size: auto;
    &[role][aria-valuenow] {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        display: inline-block;
        border: none;
        background-size: auto;
        &:after {
            background-image: none;
        }
        &:before {
            display: table;
        }
        strong {
            display: none;
        }
    }
    &::-webkit-progress-value,
    &::-webkit-progress-inner-element {
        display: table;
    }
    &::-webkit-progress-bar {
        display: table-cell;
    }
    &::-moz-progress-bar,
    &::-webkit-progress-value {
        display: table;
    }
}

// link 설정
a {
    color: inherit;
    cursor: pointer;
    &:visited {
        color: inherit;
    }
    &:hover, &:focus, &:active {
        color: inherit;
    }
}

// textarea 설정
textarea {
    color: inherit;
}

// input 설정 
input {
    &[type="button"], &[type="text"], &[type="image"], &[type="submit"] {
        -webkit-appearance: none;
        -webkit-border-radius: 0;
    }
    &:checked[type="checkbox"] {
        background-color: #fff;
        -webkit-appearance: checkbox;
    }
}

// input 자동완성 스타일 제거(변경)
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    -webkit-text-fill-color: inherit;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
// input placeholder 색상 변경
input {
    &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari*/
        color: inherit;
    }
    &::-moz-placeholder {
        /* Firefox 19+*/
        color: inherit;
    }
    &:-ms-input-placeholder {
        /* IE 10+*/
        color: inherit !important;
    }
    &:-moz-placeholder {
        /* Firefox 18-*/
        color: inherit;
    }
}